---
import Section from '../Section.astro';
import { skills } from '../../../cv.json';

import CSS from '../../icons/css.astro';
import Git from '../../icons/git.astro';
import GitHub from '../../icons/GitHub.astro';
import HTML from '../../icons/html.astro';
import JavaScript from '../../icons/javascript.astro';
import MySQL from '../../icons/sql.astro';
import React from '../../icons/react.astro';
import Tailwind from '../../icons/tailwind.astro';
import Next from '../../icons/Next.astro';

const SKILLS_ICONS = {
   HTML,
   CSS,
   JavaScript,
   React,
   MySQL,
   Git,
   GitHub,
   Tailwind,
   Next,
};
---

<Section title="Habilidades">
   <ul>
      {
         skills.map(({ name }) => {
            const iconName = name === 'Next.js' ? 'Next' : name;
            const Icon = SKILLS_ICONS[iconName];

            return (
               <li>
                  {Icon && <Icon />} <span>{name}</span>
               </li>
            );
         })
      }
   </ul>
</Section>

<style>
   ul {
      display: inline-flex;
      gap: 8px;
      flex-wrap: wrap;
   }

   li {
      align-items: center;
      background: #e0d9d9;
      border-radius: 6px;
      color: black;
      display: flex;
      font-size: 0.8rem;
      font-weight: 500;
      gap: 4px;
      padding: 0.4rem 0.7rem;
      font-size: 16px;
   }
</style>
